#recipe-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#foods-box {
  display: flex;
  flex-direction: column;
}

#meals-box {
  display: flex;
  flex-direction: column;
}

#add-food-box {
  align-self: center;
	padding: 1rem;
}


input {
  background-color: beige;
}

a {
	color: #101357;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
	border-style: solid;
	border-width: 0.5rem;
	border-radius: 2rem;
	color: #282828; 
	background-color:	teal;
}

